$color-white: #fff;
$mandys-pink: #F5CFC9;
$ocean-green: #4AAB74;
$gray: #898787;
$color-black: #000;

$font-rochester: 'Rochester';
$font-roboto-slab: 'Roboto Slab';

$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);

$z-indexes: (
  'preloader',
  'navigation',
  'content'
);