$color-white: #fff;
$mandys-pink: #F5CFC9;
$ocean-green: #4AAB74;
$gray: #898787;
$color-black: #000;

$font-george-x: "George Signature";
$font-suisse-bp: "Suisse Int\'l";

$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);

$z-indexes: (
  'preloader',
  'navigation',
  'content'
);