@font-face {
  font-family: $font-suisse-bp;
  src: url('../fonts/suisseintl-ultralight.woff2') format('woff2'),
      url('../fonts/suisseintl-ultralight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: $font-suisse-bp;
  src: url('../fonts/suisseintl-regular.woff2') format('woff2'),
      url('../fonts/suisseintl-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: $font-george-x;
  src: url('../fonts/georgesignature-regular.woff2') format('woff2'),
      url('../fonts/georgesignature-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: $font-suisse-bp;
  src: url('../fonts/suisseintl-light.woff2') format('woff2'),
      url('../fonts/suisseintl-light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}